<div ng-repeat="postcode in postcodes" class="col-md-4">

<div class="card card-background">
<div class="image" style="background-image: url('/img/gold_coast.jpg'); background-size: cover; background-position: center center;">
    <img src="assets/img/thumb.jpg" alt="..." style="display: none;">
    <div class="filter"></div>
</div>
    <div class="content">
    <h5 class="price">${{ postcode.avgInc }}
            <span class="pull-right">
            ${{postcode.avgRent }}
            </span>
        </h5>
    <p class="details-home">Avg. Income <span class="pull-right">Avg. Rent</span></p>
    <a href="#/postcode/{{postcode.post}}"><br>
        <h4 class="title">{{ postcode.post }}</h4>
        <p>Suburb, Suburb, Suburb, Suburb </p>
    </a>
</div>
<div class="footer">
        <i class="fa fa-users"></i> 123
    <div class="stats pull-right">
        253 <i class="fa fa-comment"></i>
    </div>
</div>
</div>
</div>


<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <div class="load-more">
        <button class="btn btn-round btn-info btn-lg" id="load-more" data-rotation-color="azure">Load More</button>
        </div>
    </div>
</div>