
<div class="row">
    <div class="col-md-12">

<!--<select name="huge" class="selectpicker" data-style="btn-info btn-fill btn-block"  id="sort">
        <option disabled selected> Sort By</option>
        <option value="cheap">Price (Low to High) </option>
        <option value="expensive">Price (High to Low)</option>
        <option value="popular">Population (High to Low)</option>
        <option value="unpopular">Population (Low to Low)</option>
    </select>-->

    <div class="hide-filters" ng-if="query != 'qld/' || query != 'wa/' ">

    <h4> Sort by... </h4>

    <a ng-if="query == '' " href="#/" class="btn btn-round btn-primary btn-fill">Top</a>
    <a ng-if="query != '' " href="#/" class="btn btn-round btn-primary">Top</a>

    <a ng-if="query != 'expensive/'" href="#/expensive" class="btn btn-round btn-primary">Expensive</a>
    <a ng-if="query == 'expensive/'" href="#/" class="btn btn-round btn-primary btn-fill">Expensive</a>

    <a ng-if="query != 'cheapest/'" href="#/cheapest" class="btn btn-round btn-primary">Cheapest</a>
    <a ng-if="query == 'cheapest/'" href="#/" class="btn btn-round btn-primary btn-fill">Cheapest</a>

    <a ng-if="query != 'popular/'" href="#/popular" class="btn btn-round btn-primary">Most Popular</a>
    <a ng-if="query == 'popular/'" href="#/" class="btn btn-round btn-primary btn-fill">Most Popular</a>

    <a ng-if="query != 'unpopular/'" href="#/unpopular" class="btn btn-round btn-primary">Least Popular</a>
    <a ng-if="query == 'unpopular/'"  href="#/" class="btn btn-round btn-primary btn-fill">Least Popular</a>

    <a ng-if="query != 'mostInc/'" href="#/highest-paid" class="btn btn-round btn-primary">Most Paid</a>
    <a ng-if="query == 'mostInc/'" href="#/" class="btn btn-round btn-primary btn-fill">Most Paid</a>

    <a ng-if="query != 'leastInc/'" href="#/lowest-paid" class="btn btn-round btn-primary">Least Paid</a>
    <a ng-if="query == 'leastInc/'" href="#/" class="btn btn-round btn-primary btn-fill">Least Paid</a>
    <hr>

    </div>

    <h4> Search by Postcode </h4>


        <form ng-submit="searchForm()" id="search-form" class="" >
            <div class="row">
                <div class="col-md-4">

                    <div class="form-group">
                        <input type="text" id="search" value="" class="form-control" placeholder="Enter a Postcode...">
                    </div>

                </div>

                <div class="col-md-2">

                    <input type="submit" class="btn btn-primary" value="Search">

                </div>
            </div>
        </form>
    </div>

    </div>

</div>

<div class="row">

<div ng-repeat="postcode in postcodes" class="col-md-4">

<div class="card card-background">
    <a href="#/postcode/{{postcode.post}}">
<div class="image" style="background-image: url('/img/postcode/{{postcode.post}}.jpg'); background-size: cover; background-position: center center;">
    <img src="img/thumb.jpg" alt="..." style="display: none;">
    <div class="filter"></div>
</div>
    <div class="content">
    <h5 class="price">${{ postcode.avgInc }}
            <span class="pull-right">
            ${{postcode.avgRent }}
            </span>
        </h5>
    <p class="details-home">Avg. Income <span class="pull-right">Avg. Rent</span></p>
    <br>
        <h4 class="title">{{ postcode.post }}</h4>
        <p ng-if="postcode.subs.length > 0">
            <span ng-repeat="suburb in postcode.subs | limitTo:5"> 
                {{suburb}}<span ng-if="$index != postcode.subs.length-1 && $index != 4">,</span><span ng-if="$index == 4">...</span> 
            </span>
        </p>
</div>
<div class="footer">
        <i class="fa fa-users"></i> {{postcode.pop | number:0}}
    <div class="stats pull-right">
       <span ng-if="postcode.state != ''"> {{postcode.state}} <i class="fa fa-map-marker"></i> </span>
    </div>
</div>
</div>
</a>
</div>


<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <div class="load-more">
        <button class="btn btn-round btn-info btn-lg" id="load-more" data-rotation-color="azure">Load More</button>
        </div>
    </div>
</div>

</div>