    <div class="row search-form">

      <div class="col-md-offset-8 col-md-4">

        <form id="form-submit">
          <div class="form-group">
            <label class="control-label">Search</label>
            <div class="input-group">
              <input type="text" class="form-control" id="search-form">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" id="search-button">Search</button>
              </span>
            </div>
          </div>
        </form>

      </div>
    
    </div>

<a href="#/" class="btn btn-primary"> Back </a>
<p>&nbsp;</p>

<div ng-repeat="photo in items">
  <div class="clearfix" ng-if="$index % 3 == 0"></div>
  <div class="col-md-4">
    <div class="well">
    <a href="{{photo.image}}" data-lightbox="images" data-title="{{photo.caption}}">
      <img src="{{photo.thumb}}" alt="{{photo.name}}" class="center-block img-responsive">
    </a>
    <p class="text-center"> {{photo.caption}} </p>
  </div>
  </div>
</div>