<div class="">



</div>

<div class="row">
<div class="col-md-12">

<div class="card card-background">
<div class="image" style="background-image: url('/img/gold_coast.jpg'); background-size: cover; background-position: center center; height:450px;">
    <img src="img/thumb.jpg" alt="..." style="display: none;">
    <div class="filter"></div>
</div>
    <div class="content">
   <a class="text-center">
        <h1 class="title" style="margin-top: 190px;">{{ postcode.post }}</h1>
        <p>Suburb, Suburb, Suburb, Suburb </p>
    </a>
</div>
</div>
</div>
</div>

<div class="row">

     <div class="col-md-3">
           <div class="info">
                <div class="icon icon-green">
                    <i class="pe-7s-cash"></i>
                </div>

                <div class="description">
                    <h3> ${{postcode.avgInc}} </h3>
                    <p>Average Income</p>
                </div>
           </div>
        </div>

        <div class="col-md-3">
           <div class="info">
                <div class="icon icon-red">
                    <i class="pe-7s-home"></i>
                </div>

                <div class="description">
                    <h3> ${{postcode.avgMortgage}} </h3>
                    <p>Monthly Mortgage Repayments</p>
                </div>
           </div>
        </div>

        <div class="col-md-3">
           <div class="info">
                <div class="icon icon-orange">
                    <i class="pe-7s-user"></i>
                </div>

                <div class="description">
                    <h3> 1,500 </h3>
                    <p>Population in {{postcode.post}}</p>
                </div>
           </div>
        </div>

        <div class="col-md-3">
           <div class="info">
                <div class="icon icon-blue">
                    <i class="pe-7s-sun"></i>
                </div>

                <div class="description">
                    <h3> 32˚C </h3>
                    <p>Weather in {{postcode.post}}</p>
                </div>
           </div>
        </div>

</div>


<!--<div class="row"> 

<div class="col-md-3">   
<div class="card card-background">
                            <div class="image" style="background-image: url('/img/thumb.jpg'); background-size: cover; background-position: center center;">
                                <img src="img/thumb.jpg" alt="..." style="display: none;">
                                <div class="filter filter-orange"></div>
                            </div>
                             <div class="content text-center">
                                <a href="#"><br>
                                    <h1 class="title"> 37°C </h1>
                                    <h5>Very Hot</h5>
                                </a>
                            </div>
                            <div class="footer">
                               <div class="stats">
                                    <i class="fa fa-map-marker"></i>  New York, USA
                               </div>
                            </div>
                        </div>
</div>

</div>-->

<h4> Statistics about the postcode {{postcode.post}} </h4>

<table class="table table-striped">
    <tr>
    <td>Average Income</td> <td>${{postcode.avgInc}} per week</td>
    </tr>
    <tr>
    <td>Average Mortgage Repayment</td> <td>${{postcode.avgMortgage}} per month</td>
    </tr>
    <tr>
    <td>Average Rent</td> <td>${{postcode.avgRent}} per week</td>
    </tr>

</table>



<!--



    SOCIAL SHARES SECTION



    -->

<hr>
<div class="social-line">
             <div class="container">
                <div class="row">
                     <div class="col-md-3">
                        <h4 class="title">Share info for {{postcode.post}}!</h4>
                    </div>
                     <div class="col-md-2">
                         <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//sitename.com/#/postcode/{{postcode.post}}" class="btn btn-round btn-fill btn-social btn-facebook">
                             <i class="fa fa-facebook-square"></i> Share · 753
                         </a>
                     </div>
                      <div class="col-md-2">
                         <a target="_blank" href="http://twitter.com/home?status=Find all the info you need for the Postcode {{postcode.post}} at SITENAME/postcode/{{postcode.post}}" class="btn btn-round btn-fill btn-social btn-twitter">
                             <i class="fa fa-twitter"></i> Tweet · 832
                         </a>
                     </div>
                      <div class="col-md-2">
                         <a href="" class="btn btn-round btn-fill btn-social btn-google">
                             <i class="fa fa-google-plus-square"></i> Share · 131
                         </a>
                     </div>
                     <div class="col-md-2">
                         <a href="" class="btn btn-round btn-social  btn-fill btn-youtube">
                             <i class="fa fa-pinterest"></i> Pin it · 323
                         </a>
                     </div>
                </div>
             </div>
         </div>
<hr>

<!-- 
    
    
    COMMENTS SECTION 
    
    
-->

<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="media-area media-area-small">
<h3 class="text-center">10 Comments</h3>
<div class="media">
        <a class="pull-left" href="#">
        <div class="avatar">
                <img class="media-object" src="img/default-avatar.png" alt="...">
        </div>
        </a>
        <div class="media-body">
        <h4 class="media-heading">Creative Tim</h4>
        <h6 class="pull-right text-muted">Sep 11, 11:53 AM</h6>

        <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
        <p> Don't forget, You're Awesome!</p>

        </div>
</div> <!-- end media -->


<div class="pagination-area">
    <ul class="pagination pagination-no-border">
            <!--   color-classes: "pagination-blue", "pagination-azure", "pagination-orange", "pagination-red", "pagination-green", special-classes: "pagination-no-border"  -->
            <li><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
        </ul>
</div>

<h3 class="text-center">Post your comment</h3>
<div class="media media-post">
    <form class="form">
    <a class="pull-left author" href="#">
        <div class="avatar">
                <img class="media-object" src="img/default-avatar.png" alt="...">
        </div>
    </a>
    <div class="media-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                        <input type="email" class="form-control" placeholder="Your Name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                        <input type="email" class="form-control" placeholder="Your email">
                </div>
            </div>
        </div>
        <textarea class="form-control" placeholder="Write some nice stuff or nothing..." rows="6" style="margin-top: 0px; margin-bottom: 10px; height: 151px;"></textarea>
        <div class="media-footer">
            <a href="#" class="btn btn-info btn-fill pull-right">Post Comment</a>
        </div>
    </div><!-- end media-body -->
    </form>
</div> <!-- end media-post -->

</div>
</div>
</div>
    