<div class="col-md-12">

<div class="card card-background">
<div class="image" style="background-image: url('/img/gold_coast.jpg'); background-size: cover; background-position: center center;">
    <img src="assets/img/thumb.jpg" alt="..." style="display: none;">
    <div class="filter"></div>
</div>
    <div class="content">
    <h5 class="price">$ {{ postcode.avgInc }}
            <a href="#" class="pull-right">
                <i class="fa fa-heart-o"></i>
            </a>
        </h5>
    <a href="#"><br>
        <h4 class="title">{{ postcode.post }}</h4>
        <p>Suburb, Suburb, Suburb, Suburb </p>
    </a>
</div>
<div class="footer">
    <div class="author">
        <a href="#">
            <img src="/img/default-avatar.png" alt="..." class="avatar">
            <span>Alex</span>
        </a>
    </div>
    <div class="stats pull-right">
        <i class="fa fa-comment"></i>  253 Comments
    </div>
</div>
</div>
</div>


<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="media-area media-area-small">
                        <h3 class="text-center">10 Comments</h3>
                        <div class="media">
                              <a class="pull-left" href="#">
                               <div class="avatar">
                                     <img class="media-object" src="assets/img/default-avatar.png" alt="...">
                               </div>
                              </a>
                              <div class="media-body">
                                <h4 class="media-heading">Creative Tim</h4>
                                <h6 class="pull-right text-muted">Sep 11, 11:53 AM</h6>

                                <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                                <p> Don't forget, You're Awesome!</p>

                                <div class="media-footer">
                                    <a href="#" class="btn btn-info btn-simple "> <i class="fa fa-reply"></i> Reply</a>
                                    <a href="#" class="btn btn-danger btn-simple pull-right">
                                         <i class="fa fa-heart"></i> 243
                                    </a>
                                </div>
                              </div>
                        </div> <!-- end media -->

                        <!--  Comment                    -->
                        <div class="media">
                          <a class="pull-left" href="#">
                              <div class="avatar">
                                  <img class="media-object" src="assets/img/default-avatar.png" alt="...">
                              </div>
                          </a>
                          <div class="media-body">

                             <h4 class="media-heading">Drake</h4>
                             <h6 class="pull-right text-muted">Sep 11, 11:54 AM</h6>

                             <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                             <p> Don't forget, You're Awesome!</p>

                             <div class="media-footer">
                                 <a href="#" class="btn btn-info btn-simple "> <i class="fa fa-reply"></i> Reply</a>
                                 <a href="#" class="btn btn-default btn-simple pull-right">
                                     <i class="fa fa-heart-o"></i> 23
                                 </a>
                             </div>
                             <div class="media">
                                  <a class="pull-left" href="#">
                                      <div class="avatar">
                                             <img class="media-object" src="assets/img/default-avatar.png" alt="...">
                                      </div>
                                  </a>
                                  <div class="media-body">
                                        <h4 class="media-heading">Rick Ross</h4>
                                        <h6 class="pull-right text-muted">Sep 11, 11:56 AM</h6>

                                        <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                                        <p> Don't forget, You're Awesome!</p>

                                        <div class="media-footer">
                                            <a href="#" class="btn btn-info btn-simple "> <i class="fa fa-reply"></i> Reply</a>
                                            <a href="#" class="btn btn-danger btn-simple pull-right">
                                                 <i class="fa fa-heart"></i> 43
                                            </a>
                                        </div>
                                  </div>
                              </div> <!-- end media -->
                          </div>
                        </div> <!-- end media -->
                        <div class="media">
                              <a class="pull-left" href="#">
                                  <div class="avatar">
                                         <img class="media-object" src="assets/img/default-avatar.png" alt="...">
                                  </div>
                              </a>
                              <div class="media-body">
                                    <h4 class="media-heading">Jay Z</h4>
                                    <h6 class="pull-right text-muted">Sep 11, 11:57 AM</h6>

                                    <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                                    <p> Don't forget, You're Awesome!</p>

                                    <div class="media-footer">
                                        <a href="#" class="btn btn-info btn-simple "> <i class="fa fa-reply"></i> Reply</a>
                                        <a href="#" class="btn btn-default btn-simple pull-right">
                                               <i class="fa fa-heart-o"></i> 24
                                        </a>
                                    </div>
                              </div>
                        </div> <!-- end media -->
                        <div class="pagination-area">
                            <ul class="pagination pagination-no-border">
                                 <!--   color-classes: "pagination-blue", "pagination-azure", "pagination-orange", "pagination-red", "pagination-green", special-classes: "pagination-no-border"  -->
                                  <li><a href="#">«</a></li>
                                  <li class="active"><a href="#">1</a></li>
                                  <li><a href="#">2</a></li>
                                  <li><a href="#">3</a></li>
                                  <li><a href="#">4</a></li>
                                  <li><a href="#">5</a></li>
                                  <li><a href="#">»</a></li>
                             </ul>
                        </div>

                        <h3 class="text-center">Post your comment</h3>
                        <div class="media media-post">
                          <form class="form">
                          <a class="pull-left author" href="#">
                              <div class="avatar">
                                     <img class="media-object" src="assets/img/default-avatar.png" alt="...">
                              </div>
                          </a>
                          <div class="media-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                             <input type="email" class="form-control" placeholder="Your Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                             <input type="email" class="form-control" placeholder="Your email">
                                        </div>
                                    </div>
                                </div>
                                <textarea class="form-control" placeholder="Write some nice stuff or nothing..." rows="6" style="margin-top: 0px; margin-bottom: 10px; height: 151px;"></textarea>
                                <div class="media-footer">
                                    <h6>Sign in with</h6>
                                    <a href="" class="btn btn-round btn-fill btn-social btn-twitter">
                                          <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="" class="btn btn-round btn-fill btn-social btn-facebook">
                                          <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="" class="btn btn-round btn-fill btn-social btn-google">
                                          <i class="fa fa-google-plus-square"></i>
                                    </a>
                                    <a href="#" class="btn btn-info btn-fill pull-right">Post Comment</a>
                                </div>
                          </div><!-- end media-body -->
                          </form>
                        </div> <!-- end media-post -->

                    </div>
</div>
</div>
    