<div ng-if="postcode == undefined" style="margin-top:125px; margin-bottom:125px;" class="text-center">

<h2>Whoops...</h2>
<p>We couldn't find what you're looking for.</p>

</div>
<div ng-if="postcode != undefined">

<div class="row">
<div class="col-md-12">

<div class="card card-background">
<div class="image" style="background-image: url('/img/gold_coast.jpg'); background-size: cover; background-position: center center; height:450px;">
    <img src="img/thumb.jpg" alt="..." style="display: none;">
    <div class="filter"></div>
</div>
    <div class="content">
   <a class="text-center">
        <h1 class="title" style="margin-top: 190px;">{{ postcode.post }}</h1>
        <p ng-if="postcode.subs.length > 0">
            <span ng-repeat="suburb in postcode.subs"> {{suburb}}<span ng-if="$index != postcode.subs.length-1">,</span> </span>
        </p>
    </a>
</div>
</div>
</div>
</div>

<div class="row">

     <div class="col-md-3">
           <div class="info">
                <div class="icon icon-green">
                    <i class="pe-7s-cash"></i>
                </div>

                <div class="description">
                    <h3> ${{postcode.avgInc | number:0}} </h3>
                    <p>Average weekly income</p>
                </div>
           </div>
        </div>

        <div class="col-md-3">
           <div class="info">
                <div class="icon icon-red">
                    <i class="pe-7s-home"></i>
                </div>

                <div class="description">
                    <h3> ${{postcode.avgMortgage | number:0}} </h3>
                    <p>Monthly mortgage repayments</p>
                </div>
           </div>
        </div>

        <div class="col-md-3">
           <div class="info">
                <div class="icon icon-blue">
                    <i class="pe-7s-user"></i>
                </div>

                <div class="description">
                    <h3> {{postcode.pop | number:0}} </h3>
                    <p>Population in postcode {{postcode.post}} </p>
                </div>
           </div>
        </div>

        <div class="col-md-3">
           <div class="info">
                <div class="icon icon-orange">
                    <i class="pe-7s-sun"></i>
                </div>

                <div class="description">
                    <h3> 32˚C </h3>
                    <p>Weather in {{postcode.post}}</p>
                </div>
           </div>
        </div>

</div>


<!--<div class="row"> 

<div class="col-md-3">   
<div class="card card-background">
                            <div class="image" style="background-image: url('/img/thumb.jpg'); background-size: cover; background-position: center center;">
                                <img src="img/thumb.jpg" alt="..." style="display: none;">
                                <div class="filter filter-orange"></div>
                            </div>
                             <div class="content text-center">
                                <a href="#"><br>
                                    <h1 class="title"> 37°C </h1>
                                    <h5>Very Hot</h5>
                                </a>
                            </div>
                            <div class="footer">
                               <div class="stats">
                                    <i class="fa fa-map-marker"></i>  New York, USA
                               </div>
                            </div>
                        </div>
</div>

</div>-->

<h4> All about the postcode {{postcode.post}}, {{postcode.state}} </h4>

<table class="table table-striped">
    <tr>
    <td>Average Income</td> <td>${{postcode.avgInc | number:0}} per week</td>
    </tr>
    <tr>
    <td>Average Mortgage Repayment</td> <td>${{postcode.avgMortgage | number:0}} per month</td>
    </tr>
    <tr>
    <td>Average Rent</td> <td>${{postcode.avgRent | number:0}} per week</td>
    </tr>

    <tr>
    <td>Average Age</td> <td>{{postcode.avgAge }} years old</td>
    </tr>

    <tr>
    <td>Population</td> <td>{{postcode.pop | number:0}} people</td>
    </tr>

    <tr>
    <td>Closest Town/City</td> <td>{{postcode.closestCity }} </td>
    </tr>

    <tr>
    <td>Wifi Speeds</td> <td> Coming Soon&trade; </td>
    </tr>

</table>

<hr>
<div class="social-line">
             <div class="container">
                <div class="row">
                     <div class="col-md-3">
                        <h4 class="title">Share info for {{postcode.post}}!</h4>
                    </div>
                     <div class="col-md-2">
                         <a target="new" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//sitename.com/#/postcode/{{postcode.post}}" class="btn btn-round btn-fill btn-social btn-facebook">
                             <i class="fa fa-facebook-square"></i> Share · 753
                         </a>
                     </div>
                      <div class="col-md-2">
                         <a target="_blank" href="http://twitter.com/home?status=Find all the info you need for the Postcode {{postcode.post}} at SITENAME/postcode/{{postcode.post}}" class="btn btn-round btn-fill btn-social btn-twitter">
                             <i class="fa fa-twitter"></i> Tweet · 832
                         </a>
                     </div>
                      <div class="col-md-2">
                         <a href="" class="btn btn-round btn-fill btn-social btn-google">
                             <i class="fa fa-google-plus-square"></i> Share · 131
                         </a>
                     </div>
                     <div class="col-md-2">
                         <a href="" class="btn btn-round btn-social  btn-fill btn-youtube">
                             <i class="fa fa-pinterest"></i> Pin it · 323
                         </a>
                     </div>
                </div>
             </div>
         </div>
<hr>


<!--



    SOCIAL SHARES SECTION



    -->

<!-- -->
    

    <div id="disqus_thread"></div>
<script>

/**
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
/*
var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//cnwh.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>