footer {
	background-color: #fafafa;
	width:100%;
	min-height:50px;
	padding-top:10px;
	position:fixed;
	bottom:0;
}

/*footer p {
	font-color:;
}*/

body {
	padding-bottom:100px;
}

.alt-bg {
	background-color: #b7b2b2 !important; 
}


/**
 * Modified from the following
 * Source: http://www.w3schools.com/css/css3_animations.asp 
 */

.move-around {
    width: 100px;
    height: 20px;
    background-color: #fafafa;
    position: relative;
    -webkit-animation: move 4s linear 4s infinite alternate; /* Chrome, Safari, Opera */
    animation: move 4s linear 4s infinite alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes move {
    0%   {background-color:#fafafa; left:0px; top:0px;}
    50%  {background-color:#333; left:90%; top:0px;}
    100% {background-color:#fafafa; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes move {
    0%   {background-color:#fafafa; left:0px; top:0px;}
    50%  {background-color:#333; left:90%; top:0px;}
    100% {background-color:#fafafa; left:0px; top:0px;}
}


.side-menu {
	background-color: #333;
    width: 150px;
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: -100px;
	top:150px;
    transition: 2s;
}

.side-menu:hover {
	left:0;
}